love this module - issue with signup

```
ErrorException: Warning: Undefined array key "groupings_81bc4a7ba2"
  File "/container/application/vendor/innoweb/silverstripe-mailchimp-signup/src/Extensions/SignupControllerExtension.php", line 582, in Innoweb\MailChimpSignup\Extensions\SignupControllerExtension::doSubscription
    $submittedGroups = [$data['groupings_' . $group['id']]];
  File "/Core/Extensible.php", line 144, in SilverStripe\View\ViewableData::SilverStripe\Core\{closure}
    return call_user_func_array([$extension, $method], $args ?? []);
  File "/Core/CustomMethods.php", line 61, in SilverStripe\View\ViewableData::__call
    return $config['callback']($this, $arguments);
  File "/container/application/vendor/innoweb/silverstripe-mailchimp-signup/src/Extensions/SignupControllerExtension.php", line 447, in Innoweb\MailChimpSignup\Extensions\SignupControllerExtension::subscribe
    $result = $this->getOwner()->doSubscription($data);
  File "/Core/Extensible.php", line 144, in SilverStripe\View\ViewableData::SilverStripe\Core\{closure}
    return call_user_func_array([$extension, $method], $args ?? []);
...




Hey Nicolaas,
What version of the module and SS?
What is the MailChimp setup in regards to groups etc?
Cheers

```txt

asyncphp/doorman                          3.2.0              Child process management
beberlei/assert                           v3.3.2             Thin assertion library for input validation in business models.
bramus/ansi-php                           3.1                ANSI Control Functions and ANSI Control Sequences (Colors, Erasing, etc.) for PHP CLI Apps
bramus/monolog-colored-line-formatter     2.0.3              Colored Line Formatter for Monolog
brick/math                                0.9.3              Arbitrary-precision arithmetic library
clue/stream-filter                        v1.6.0             A simple and modern approach to stream filtering in PHP
composer/ca-bundle                        1.3.5              Lets you find a path to the system CA bundle, and includes a fallback to the Mozilla CA bundle.
composer/installers                       v1.12.0            A multi-framework Composer library installer
composer/package-versions-deprecated      1.11.99.5          Composer plugin that provides efficient querying for installed package versions (no runtime IO)
composer/semver                           3.3.2              Semver library that offers utilities, version constraint parsing and validation.
defuse/php-encryption                     v2.3.1             Secure PHP Encryption Library
doctrine/deprecations                     v1.0.0             A small layer on top of trigger_error(E_USER_DEPRECATED) or PSR-3 logging with options to disable all deprecations or selectively for packages.
doctrine/instantiator                     2.0.0              A small, lightweight utility to instantiate objects in PHP without invoking their constructors
doctrine/lexer                            2.1.0              PHP Doctrine Lexer parser library that can be used in Top-Down, Recursive Descent Parsers.
egulias/email-validator                   3.2.5              A library for validating emails against several RFCs
embed/embed                               v4.4.7             PHP library to retrieve page info using oembed, opengraph, etc
fgrosse/phpasn1                           v2.5.0             A PHP Framework that allows you to encode and decode arbitrary ASN.1 structures using the ITU-T X.690 Encoding Rules.
guzzlehttp/guzzle                         7.5.0              Guzzle is a PHP HTTP client library
guzzlehttp/promises                       1.5.2              Guzzle promises library
guzzlehttp/psr7                           2.4.3              PSR-7 message implementation that also provides common utility methods
http-interop/http-factory-guzzle          1.2.0              An HTTP Factory using Guzzle PSR7
intervention/image                        2.7.2              Image handling and manipulation library with support for Laravel integration
jdorn/sql-formatter                       dev-master 7ef9b85 a PHP SQL highlighting library
jean85/pretty-package-versions            2.0.5              A library to get pretty versions strings of installed dependencies
jonom/focuspoint                          4.0.4              Smarter automatic image cropping for SilverStripe
league/csv                                9.8.0              CSV data manipulation made easy in PHP
league/flysystem                          1.1.10             Filesystem abstraction: Many filesystems, one API.
league/mime-type-detection                1.11.0             Mime-type detection for Flysystem
league/uri                                6.8.0              URI manipulation library
league/uri-interfaces                     2.3.0              Common interface for URI representation
lekoala/silverstripe-debugbar             2.2.0              DebugBar for SilverStripe CMS
m1/env                                    2.2.0              Env is a lightweight library bringing .env file parser compatibility to PHP. In short - it enables you to read .env files with PHP.
marcj/topsort                             2.0.0              High-Performance TopSort/Dependency resolving algorithm
maximebf/debugbar                         v1.18.2            Debug bar in the browser for php application
ml/iri                                    1.1.4              IRI handling for PHP
ml/json-ld                                1.2.1              JSON-LD Processor for PHP
monolog/monolog                           1.27.1             Sends your logs to files, sockets, inboxes, databases and various web services
myclabs/deep-copy                         1.11.0             Create deep copies (clones) of your objects
nikic/php-parser                          v4.15.3            A PHP parser written in PHP
opis/closure                              3.6.3              A library that can be used to serialize closures (anonymous functions) and arbitrary objects.
oscarotero/html-parser                    v0.1.7             Parse html strings to DOMDocument
paragonie/constant_time_encoding          v2.6.3             Constant-time Implementations of RFC 4648 Encoding (Base-64, Base-32, Base-16)
paragonie/random_compat                   v9.99.100          PHP 5.x polyfill for random_bytes() and random_int() from PHP 7
phar-io/manifest                          2.0.3              Component for reading phar.io manifest information from a PHP Archive (PHAR)
phar-io/version                           3.2.1              Library for handling version information and constraints
php-http/client-common                    2.6.0              Common HTTP Client implementations and tools for HTTPlug
php-http/discovery                        1.14.3             Finds installed HTTPlug implementations and PSR-7 message factories
php-http/httplug                          2.3.0              HTTPlug, the HTTP client abstraction for PHP
php-http/message                          1.13.0             HTTP Message related tools
php-http/message-factory                  v1.0.2             Factory interfaces for PSR-7 HTTP Message
php-http/promise                          1.1.0              Promise used for asynchronous HTTP requests
phpdocumentor/reflection-common           2.2.0              Common reflection classes used by phpdocumentor to reflect the code structure
phpdocumentor/reflection-docblock         5.3.0              With this component, a library can provide support for annotations via DocBlocks or otherwise retrieve information that is embedded in a DocBlock.
phpdocumentor/type-resolver               1.6.2              A PSR-5 based resolver of Class names, Types and Structural Element Names
phpspec/prophecy                          v1.17.0            Highly opinionated mocking framework for PHP 5.3+
phptek/sentry                             4.0.7              Sentry.io integration for SilverStripe. Binds Sentry.io to SilverStripe's error & exception handling subsystem.
phpunit/php-code-coverage                 9.2.25             Library that provides collection, processing, and rendering functionality for PHP code coverage information.
phpunit/php-file-iterator                 3.0.6              FilterIterator implementation that filters files based on a list of suffixes.
phpunit/php-invoker                       3.1.1              Invoke callables with a timeout
phpunit/php-text-template                 2.0.4              Simple template engine.
phpunit/php-timer                         5.0.3              Utility class for timing
phpunit/phpunit                           9.6.4              The PHP Unit Testing framework.
psr/cache                                 2.0.0              Common interface for caching libraries
psr/container                             1.1.2              Common Container Interface (PHP FIG PSR-11)
psr/event-dispatcher                      1.0.0              Standard interfaces for event handling.
psr/http-client                           1.0.1              Common interface for HTTP clients
psr/http-factory                          1.0.1              Common interfaces for PSR-7 HTTP message factories
psr/http-message                          1.0.1              Common interface for HTTP messages
psr/log                                   1.1.4              Common interface for logging libraries
psr/simple-cache                          1.0.1              Common interfaces for simple caching
ralouphie/getallheaders                   3.0.3              A polyfill for getallheaders.
ramsey/collection                         2.0.0              A PHP library for representing and manipulating collections.
ramsey/uuid                               4.7.3              A PHP library for generating and working with universally unique identifiers (UUIDs).
sebastian/cli-parser                      1.0.1              Library for parsing CLI options
sebastian/code-unit                       1.0.8              Collection of value objects that represent the PHP code units
sebastian/code-unit-reverse-lookup        2.0.3              Looks up which function or method a line of code belongs to
sebastian/comparator                      4.0.8              Provides the functionality to compare PHP values for equality
sebastian/complexity                      2.0.2              Library for calculating the complexity of PHP code units
sebastian/diff                            4.0.4              Diff implementation
sebastian/environment                     5.1.5              Provides functionality to handle HHVM/PHP environments
sebastian/exporter                        4.0.5              Provides the functionality to export PHP variables for visualization
sebastian/global-state                    5.0.5              Snapshotting of global state
sebastian/lines-of-code                   1.0.3              Library for counting the lines of code in PHP source code
sebastian/object-enumerator               4.0.4              Traverses array structures and object graphs to enumerate all referenced objects
sebastian/object-reflector                2.0.4              Allows reflection of object attributes, including inherited and non-public ones
sebastian/recursion-context               4.0.5              Provides functionality to recursively process PHP variables
sebastian/resource-operations             3.0.3              Provides a list of PHP built-in functions that operate on resources
sebastian/type                            3.2.1              Collection of value objects that represent the types of the PHP type system
sebastian/version                         3.0.2              Library that helps with managing the version number of Git-hosted PHP projects
sentry/sdk                                3.3.0              This is a metapackage shipping sentry/sentry with a recommended HTTP client.
sentry/sentry                             3.13.1             A PHP SDK for Sentry (http://sentry.io)
sheadawson/silverstripe-linkable          2.1.0              A couple of handy form fields and objects for managing external and internal links on DataObjects
silverleague/ideannotator                 3.2.3              Generate PHP DocBlock annotations for DataObject and DataExtension databasefields and relation methods
silverstripe/admin                        1.12.2             SilverStripe admin interface
silverstripe/asset-admin                  1.12.0             Asset management for the SilverStripe CMS
silverstripe/assets                       1.12.0             SilverStripe Assets component
silverstripe/campaign-admin               1.12.0             SilverStripe campaign admin interface
silverstripe/cms                          4.12.0             The SilverStripe Content Management System
silverstripe/config                       1.5.0              SilverStripe configuration based on YAML and class statics
silverstripe/errorpage                    1.12.0             ErrorPage component for SilverStripe CMS
silverstripe/event-dispatcher             0.1.3              Publish and subscribe to events in Silverstripe CMS or your Silverstripe application
silverstripe/framework                    4.12.3             The SilverStripe framework
silverstripe/fulltextsearch               3.11.1             Adds support for Fulltext Search engines like Sphinx and Solr to SilverStripe CMS
silverstripe/fulltextsearch-localsolr     dev-master 6298dbb A pre-configured, ready to use Solr instance for local development with the SilverStripe fulltextsearch module
silverstripe/graphql                      4.1.0              GraphQL server for SilverStripe models and other data
silverstripe/login-forms                  4.8.0              A collection of templates for the CMS login screens
silverstripe/lumberjack                   2.2.0              A module to make managing pages in a GridField easy without losing any of the functionality that you're used to in the CMS.
silverstripe/mfa                          4.7.0              Enable multi-factor authentication with fallback codes
silverstripe/mimevalidator                2.4.0              Checks uploaded file content roughly matches a known MIME type for the file extension.
silverstripe/recaptcha                    3.0.0-alpha1       Provides a form field which allows form to validate for non-bot submissions by giving them a challenge to decrypt an image.
silverstripe/recipe-cms                   4.12.0             SilverStripe recipe for fully featured page and asset content editing
silverstripe/recipe-core                  4.12.0             SilverStripe framework-only core recipe
silverstripe/recipe-plugin                1.7.0              Helper plugin to install SilverStripe recipes
silverstripe/redirectedurls               2.2.0              Provides a system for users to configure arbitrary redirections in the CMS
silverstripe/reports                      4.12.0             Reports module for SilverStripe CMS
silverstripe/security-extensions          4.4.0              A temporary polyfill repository for security improvements that will be ported into core
silverstripe/session-manager              1.4.0              Allow users to manage and revoke access to multiple login sessions across devices.
silverstripe/siteconfig                   4.12.0             Site wide settings administration.
silverstripe/solr-php-client              v1.0.2             A purely PHP library for indexing and searching documents against an Apache Solr installation
silverstripe/spamprotection               3.3.0              Spam protection module for SilverStripe.
silverstripe/textextraction               3.4.0              Text Extraction API for SilverStripe CMS (mostly used with 'fulltextsearch' module)
silverstripe/totp-authenticator           4.5.0              A TOTP authenticator for use with silverstripe/mfa
silverstripe/vendor-plugin                1.6.0              Allows vendor modules to expose directories to the webroot
silverstripe/versioned                    1.12.0             SilverStripe Versioned component
silverstripe/versioned-admin              1.12.0             SilverStripe versioned admin interface
silverstripe/webauthn-authenticator       4.6.0              A WebAuthn authenticator that plugs into the silverstripe/mfa module
silverware/countries                      1.0.2              SilverWare Countries Module.
sminnee/callbacklist                      0.1.1              PHP class that manages a list of callbacks
spomky-labs/base64url                     v2.0.4             Base 64 URL Safe Encoding/Decoding PHP Library
spomky-labs/cbor-php                      v2.1.0             CBOR Encoder/Decoder for PHP
spomky-labs/otphp                         v10.0.3            A PHP library for generating one time passwords according to RFC 4226 (HOTP Algorithm) and the RFC 6238 (TOTP Algorithm) and compatible with Goog...
sunnysideup/cms-niceties                  dev-master 15528c3 adds a bit of formatting and a few CMS Field tricks to the CMS
sunnysideup/database-share-clean-up       dev-master bbf3b5b Clean up a database before sharing
sunnysideup/flush                         dev-master 6fde096 DB::alteration_message on steroids.
sunnysideup/metatags                      dev-master 7676aee simplify your metatags - a ton of tools to increase SEO visibility, including file name adjustments
sunnysideup/phone_field                   dev-master 493054d Silverstripe Module that adds a phone field to your database field options, such as Varchar and HTMLText
sunnysideup/prettyphoto                   dev-master 2d64e16 adds 'pretty photo' - a jQuery library to your Silverstripe application 
sunnysideup/reports-pages-with-videos     dev-master 6f194ca Find pages with videos using the Silverstripe Report class
sunnysideup/share_this_simple             dev-master b602b3d Silverstripe Module that provides a simple way to add share this links to your website.
sunnysideup/silverstripe-externalurlfield dev-master b8f5311 Provides SilverStripe with a DBField and FormField for handling external URLs.
sunnysideup/sswebpack_engine_only         dev-master 5fce19a Webpack engine for Silverstripe without any theme at all. Inspired and HUGE THANK YOU to: andrewhaine/silverstripe-webpack-theme
sunnysideup/templateoverview              dev-master 6627b4e adds development tools for building silverstripe websites, in particular around managing page types.
sunnysideup/typography                    dev-master 0aa7e08 Add a typography test page to your silverstripe website / application.
sunnysideup/webpack_requirements_backend  dev-master 6bb22e3 Silverstripe Module that provides an alternative to the standard Silvertripe Requirements Backend class so that your application can run webpack.
swiftmailer/swiftmailer                   v6.3.0             Swiftmailer, free feature-rich PHP mailer
symbiote/silverstripe-grouped-cms-menu    4.0.1              Allows you to group CMS menu items.
symbiote/silverstripe-multivaluefield     5.x-dev 4ca34c8    A DB field + form fields for storing multiple values in a single property (serialized).
symbiote/silverstripe-queuedjobs          4.11.0             A framework for defining and running background jobs in a queued manner
symfony/cache                             v4.4.48            Provides extended PSR-6, PSR-16 (and tags) implementations
symfony/cache-contracts                   v2.5.2             Generic abstractions related to caching
symfony/config                            v4.4.44            Helps you find, load, combine, autofill and validate configuration values of any kind
symfony/deprecation-contracts             v3.2.0             A generic function and convention to trigger deprecation notices
symfony/event-dispatcher                  v5.4.21            Provides tools that allow your application components to communicate with each other by dispatching events and listening to them
symfony/event-dispatcher-contracts        v3.2.0             Generic abstractions related to dispatching event
symfony/filesystem                        v5.4.21            Provides basic utilities for the filesystem
symfony/finder                            v4.4.44            Finds files and directories via an intuitive fluent interface
symfony/http-client                       v6.2.7             Provides powerful methods to fetch HTTP resources synchronously or asynchronously
symfony/http-client-contracts             v3.2.1             Generic abstractions related to HTTP clients
symfony/options-resolver                  v6.2.7             Provides an improved replacement for the array_replace PHP function
symfony/polyfill-ctype                    v1.27.0            Symfony polyfill for ctype functions
symfony/polyfill-iconv                    v1.27.0            Symfony polyfill for the Iconv extension
symfony/polyfill-intl-idn                 v1.27.0            Symfony polyfill for intl's idn_to_ascii and idn_to_utf8 functions
symfony/polyfill-intl-normalizer          v1.27.0            Symfony polyfill for intl's Normalizer class and related functions
symfony/polyfill-mbstring                 v1.27.0            Symfony polyfill for the Mbstring extension
symfony/polyfill-php72                    v1.27.0            Symfony polyfill backporting some PHP 7.2+ features to lower PHP versions
symfony/polyfill-php73                    v1.27.0            Symfony polyfill backporting some PHP 7.3+ features to lower PHP versions
symfony/polyfill-php80                    v1.27.0            Symfony polyfill backporting some PHP 8.0+ features to lower PHP versions
symfony/polyfill-php81                    v1.27.0            Symfony polyfill backporting some PHP 8.1+ features to lower PHP versions
symfony/process                           v4.4.44            Executes commands in sub-processes
symfony/service-contracts                 v2.5.2             Generic abstractions related to writing services
symfony/translation                       v4.4.47            Provides tools to internationalize your application
symfony/translation-contracts             v2.5.2             Generic abstractions related to translation
symfony/var-dumper                        v6.2.7             Provides mechanisms for walking through any arbitrary PHP variable
symfony/var-exporter                      v5.4.21            Allows exporting any serializable PHP data structure to plain PHP code
symfony/yaml                              v4.4.45            Loads and dumps YAML files
thecodingmachine/safe                     v1.3.3             PHP core functions that throw exceptions instead of returning FALSE on error
theseer/tokenizer                         1.2.1              A small library for converting tokenized PHP source code into XML and potentially other formats
tractorcow/classproxy                     1.0.0             
tractorcow/silverstripe-colorpicker       4.1.0              Color picker field for Silverstripe CMS using the ColorPicker jQuery plugin
tractorcow/silverstripe-proxy-db          1.0.0             
ua-parser/uap-php                         v3.9.14            A multi-language port of Browserscope's user agent parser.
unclecheese/display-logic                 2.0.6              Allows assignment of conditions for display and hide of specific form fields based on client side behavior.
undefinedoffset/sortablegridfield         2.1.0              Adds drag and drop functionality to SilverStripe 4.x's GridField
web-auth/cose-lib                         v3.3.12            CBOR Object Signing and Encryption (COSE) For PHP
web-auth/metadata-service                 v3.3.12            Metadata Service for FIDO2/Webauthn
web-auth/webauthn-lib                     v3.3.12            FIDO2/Webauthn Support For PHP
webmozart/assert                          1.11.0             Assertions to validate method input/output with nice error messages.
webonyx/graphql-php                       v14.11.9           A PHP port of GraphQL reference implementation
wilr/silverstripe-googlesitemaps          2.2.1              SilverStripe support for the Google Sitemaps XML, enabling Google and other search engines to see all urls on your site. This helps your SilverSt...


```

I dont have any groups setup as far as I know. The client set up the mailchimp itself. 

Hey Nicolaas,
I have just tested this and can't reproduce the error, no matter what I try. Can you give me some more info about the MailChimp setup? Can you send me a link to the site? Or at least a screen shot of the form, so that I can see what fields are used? You can email as well, if you prefer.
Cheers

Hi Florian,

I am really sorry for the lack of information. I will need to find some
time to find the issue exactly and report back to you!.

THANK YOU THANK YOU THANK YOU THANK YOU THANK YOU !

On Tue, 14 Mar 2023 at 18:52, Florian Thoma ***@***.***>
wrote:

> Hey Nicolaas,
> I have just tested this and can't reproduce the error, no matter what I
> try. Can you give me some more info about the MailChimp setup? Can you send
> me a link to the site? Or at least a screen shot of the form, so that I can
> see what fields are used? You can email as well, if you prefer.
> Cheers
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/xini/silverstripe-mailchimp-signup/issues/20#issuecomment-1467408201>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AABIZ4RR2X26NGUBRFZN75DW4ABTRANCNFSM6AAAAAAVYRMJOI>
> .
> You are receiving this because you authored the thread.Message ID:
> ***@***.***>
>


-- 
{
    Nicolaas Thiemen Francken
    www.sunnysideup.co.nz
    +64 (0) 221 697577
}


Kia Ora, here's the body of the request getting this warning, the form is here: https://employeenetworks.govt.nz/sign-up-for-our-newsletter

![image](https://github.com/xini/silverstripe-mailchimp-signup/assets/27248899/c4dbbf13-e71b-4ba9-b73f-55f63763e41e)

We've done some testing and we're pretty sure the form submission still works - subscription confirmation emails still go out - just unsure about this warning.

@S-GrabhamMadden The form in your link seems to work. Can you get me the error log as well as a screenshot of all fields (including grouping fields)?

@xini Hi Florian, we discussed this issue last year and it's become a problem for us again, here's the error log:
`Monolog\ErrorHandler->handleError(2, Undefined array key "groupings_81bc4a7ba2", /container/application/vendor/innoweb/silverstripe-mailchimp-signup/src/Extensions/SignupControllerExtension.php, 581)
SignupControllerExtension.php:581
Innoweb\MailChimpSignup\Extensions\SignupControllerExtension->doSubscription(Array)
call_user_func_array(Array, Array)
Extensible.php:135
SilverStripe\View\ViewableData->SilverStripe\Core\{closure}(Innoweb\MailChimpSignup\Pages\SignupPageController, Array)
CustomMethods.php:64
SilverStripe\View\ViewableData->__call(doSubscription, Array)
SignupControllerExtension.php:449
Innoweb\MailChimpSignup\Extensions\SignupControllerExtension->subscribe(Array, SilverStripe\Forms\Form, SilverStripe\Control\HTTPRequest, SilverStripe\Forms\FormRequestHandler)
call_user_func_array(Array, Array)
Extensible.php:135
SilverStripe\View\ViewableData->SilverStripe\Core\{closure}(Innoweb\MailChimpSignup\Pages\SignupPageController, Array)
CustomMethods.php:64
SilverStripe\View\ViewableData->__call(subscribe, Array)
FormRequestHandler.php:522
SilverStripe\Forms\FormRequestHandler->invokeFormHandler(Innoweb\MailChimpSignup\Pages\SignupPageController, subscribe, SilverStripe\Control\HTTPRequest, Array)
FormRequestHandler.php:230
SilverStripe\Forms\FormRequestHandler->httpSubmission(SilverStripe\Control\HTTPRequest)
RequestHandler.php:321`

And a list of the fields:
![image](https://github.com/xini/silverstripe-mailchimp-signup/assets/27248899/1a1f9bb7-8938-4b99-aa62-5fa432657db1)

Let us know if you have any thoughts on this, thanks.

Hi @S-GrabhamMadden ,
What are the Mailchimp field settings regarding groups, interests etc? 
Can you send me a link to the live form? 
Does this occur on loading the form? Or on submission?
Cheers

Kia Ora @xini , sorry, we don't have access to this site's mailchimp account. We're starting to suspect it's a data or config issue, but haven't been able to confirm yet. For now, we're looking at a small refactor of:
```
if (is_array($data['groupings_' . $group['id']])) {
        $submittedGroups = $data['groupings_' . $group['id']];
    } else {
        $submittedGroups = [$data['groupings_' . $group['id']]];
    }
```

to check for whether 'groupings_'.$group['id] is a key of $data at all, before checking whether the value is an array. That should prevent the error for us, and the form is otherwise working well.

Hi @S-GrabhamMadden 
Thanks for helping to find this issue!
I have run some tests with different setups and I agree that that code you're referring to is an issue when interests are displayed as checkboxes and the user submits the form without selecting any. 
I have published a fix in 4.8.1 and 5.1.1.
Can you please check whether that solves your issue?
Cheers

Thank you @xini  - much appreciated!


I believe this has been fixed.